@using Travel.Models
@model List<Hakkimizda>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}






    <div class="content">
        <div class="wrap">
            <div class="about">
                <br />

                @foreach (var x in Model)
                {
                    <img src="@x.FotoUrl" alt="" />
                    <p>@x.Aciklama</p>
                }


            </div>
        </div>
    </div>




