
@{
    Layout = null;
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&subset=latin-ext" rel="stylesheet">

    <link href="~/weblogin Tema/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Master Login Form Widget Tab Form,Login Forms,Sign up Forms,Registration Forms,Newsletter Forms,Elements" />
</head>


<body>
    <div class="padding-all">
        <div class="header">
            <h1>Tatil Seyahat Sitesi Admin Giriş Sayfası</h1>
        </div>

        <div class="design-w3l">
            <div class="mail-form-agile">
                
                    @using (Html.BeginForm("Login", "GirisYap", FormMethod.Post))
                    {
                    <input type="text" name="Kullanici" placeholder="Kullanıcı Adınız..." required="" />
                    <input type="password" name="Sifre" class="padding" placeholder="Şifreniz..." required="" />
                    <input type="submit" value="Giriş">
                    }
            </div>
            <div class="clear"> </div>
        </div>

        <div class="footer">
            <p>© 2024 M.Ertuğrul Keskin. Tüm Hakları Saklıdır | Design by Keskin1i</p>
        </div>
    </div>

</body>
</html>